[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python src/main.py"
lint = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"
test = "pytest"

[packages]
flask = "*"
janome = "*"
requests = "*"
bs4 = "*"
pillow = "*"
matplotlib = "*"
opencv-python = "*"
urllib3 = "*"
flask-httpauth = "*"
flask-cors = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.9"
